script(src="/javascripts/pagescripts.js")
span(class="close")
    img(src="/images/close.png" width="20")

h2 Select an open time slot
div(class="day")
    span text
    -for (var i=0; i< 12; ++i)
        div=i